<div class="page__body--left">
  <div slot="left-side">
    <ccdesign-copy
      copy="<h1>CONTACT ME</h1><p>Contact Form coming soon!</p>">
    </ccdesign-copy>
    <ccdesign-separator></ccdesign-separator>
    <ccdesign-copy
      copy="<p>Looking forward to answering your email</p><p><b>Email</b> m.t.beaseley@gmail.com</p>">
    </ccdesign-copy>
  </div>
</div>
<div class="page__body--right">
  <div slot="right-side">
    <ccdesign-carousel
      data="[ { id: 'profilePic', image: 'https://images.ctfassets.net/43i5e5k8e66i/2tbgM7o5Wk6208QeuQM6o0/955924a78902a6df9df0bef78ae52b53/profile_pic-min.jpg', alt: 'Image of Michael Beaseley'}, { id: 'profileStationPic', image: 'https://images.ctfassets.net/43i5e5k8e66i/pj0mHN9DtQUg4gOuqm8KE/cc5b7f70159a395556af4a7767908893/profile_station-min.jpg', alt: 'Image of Michael Beaseley'}, { id: 'profilePicture', image: 'https://images.ctfassets.net/43i5e5k8e66i/3s2QTQy7ryM46G2ewIesO2/1043c4517ce8d6103d71be32d7c90ef2/profile_new-min.jpg', alt: 'Image of Michael Beaseley'} ]"
      time-interval="7500">
    </ccdesign-carousel>
  </div>
</div>