<div class="page__component">
    <div class="page__component--left">
      <div class="component">
        <div class="component__container">
          <h1>CONTACT ME</h1>
          <p>Contact Form coming soon!</p>
          <hr>
          <p>Looking forward to answering your email</p>
          <p><b>Email</b> m.t.beaseley@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="page__component--right">
      <slideshow
        [imageUrls]="imageUrls"
        [showArrows]="false"
        [lazyLoad]="imageUrls?.length > 1"
        [autoPlay]="true"
        [autoPlayInterval]="10000">
      </slideshow>
    </div>
  </div>