@import "~global/variables";

.page {
  &__contact {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100vw;
    height: 97vh;

    &--left {
      padding: 0 0 10px 0;
      margin-top: 60px;
      flex: 1 1 50vw;
      order: 1;
      min-width: 387px;
      overflow-x: scroll;

      @media screen and (max-width: $screen-xs-max) {
        margin-top: 0;
      }

      .contact-component {
        text-align: center;
        margin-left: 100px;
        margin-right: 60px;

        @media (max-width: $screen-sm-max) {
          margin-left: 20px;
        }

        @media (max-width: $screen-xs-max) {
          margin: 0 60px;
        }

        @media (max-width: $screen-xs-min) {
          margin: 0 20px;
        }

        &__container {
          margin-bottom: 1rem;
          text-align: left;
          text-align: center;

          h1 {
            font-size: 46px;
            line-height: 0.9em;
            font-weight: bolder;
            color: $grey1;
          }
        }
      }
    }
    &--right {
      background-color: $grey1;
      height: 97vh;
      flex: 2 2 50vw;
      order: 2;
      min-width: 387px;
    }

    @media screen and (max-width: $screen-xs-max) {
      position: relative;
      top: 52px;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 95vh;

      &--left {
        order: 2;
        padding: 0 0 60px 0;
        flex: 1 1 140vw;
      }
      &--right {
        order: 1;
        min-height: 35vh;
        max-height: 35vh;
        margin-bottom: 40px;
      }
    }

    @media screen and (max-width: $screen-xs-min) {
      &--left {
        min-width: 320px;
      }
    }
  }
}
