<div class="page__body--left">
  <div slot="left-side">
    <ccdesign-grid heading="PORTFOLIO" columns="2">
      <ccdesign-image-card 
        slot="children"
        url="/portfolio/webcomponent-project"
        image-url="https://images.ctfassets.net/43i5e5k8e66i/2bu4HSFHLHGCEuX4epNQ2h/e4683bf9f90227425467b4427fce4e1e/logo-min.jpg" 
        image-alt="CCDesign Web Component Library" 
        description="CCDesign Component Library">
      </ccdesign-image-card>
      <ccdesign-image-card 
        slot="children"
        url="/portfolio/website-project"
        image-url="https://images.ctfassets.net/43i5e5k8e66i/5fOT7Co3DGLPkFW497jGGj/ec738a7262191e655501c8b4d7af9d95/webLogo-min.jpg" 
        image-alt="CCDesign Website Logo" 
        description="Personal Website Project">
      </ccdesign-image-card>
      <ccdesign-image-card 
        slot="children" 
        url="/portfolio/fyp-project"
        image-url="https://images.ctfassets.net/43i5e5k8e66i/J6F5SWf6uWQ2yAGsSayMM/4e08686bd0a5886ea4d5ea4c98062291/FYP_Logo-min.png" 
        image-alt="University Final Year Project" 
        description="University Final Year Project">
      </ccdesign-image-card>
    </ccdesign-grid>
  </div>
</div>
<div class="page__body--right">
  <div slot="right-side">
    <ccdesign-carousel
      data="[ { id: 'websitePic', image: 'https://images.ctfassets.net/43i5e5k8e66i/4O1Qth30iI6uOgQy88eoEi/2bef6e2bc4619e569a5d9c4a145b10dc/website_pic-min.jpg', alt: 'Image of website'}, { id: 'logo', image: 'https://images.ctfassets.net/43i5e5k8e66i/3QV5A6g6Jai2uykcCK8Coy/6d9073683813fe60a83d1ff57a5bb550/ccdesign_logo_design-min.jpg', alt: 'Image of CCDesign Logo'}, { id: 'androidScreenPic', image: 'https://images.ctfassets.net/43i5e5k8e66i/3JfTj0C6VOcom8684eu6A8/ba42b62a2f1dd8d96cc80ba25331d078/fyp_mobile_app.jpeg', alt: 'Image of Android Screen'} ]"
      time-interval="7500">
    </ccdesign-carousel>
  </div>
</div>