<div class="page__component">
  <div class="page__component--left">
    <div class="component">
      <div class="component__container">
        <h1>Final Year Project</h1>
        <hr>
        <p>My final year project at Brunel University was title "Using Smartphone technology to simulate human
          behaviour within an indoor environment".</p>
        <p>Summary of the project is as followed: </p>
        <ul>
          <li>Created an Android Application which allowed a user to navigate through an indoor environment.</li>
          <li>Project included the use of NFC, Beacons, Wi-Fi, and Java.</li>
          <li>The model used was the Waterfall Model due to the scope of the project but Android development was
            completed using a similar process that the Spiral Model presented.</li>
          <li>A literature review was conducted as well as a survey data was researched to underline the requirements
            of the application.</li>
          <li>Created Low and High fidelity prototypes of the User Interface, whereas Class, Sequential and Use case
            diagram was created to developed how and what variables and processes are needed.</li>
          <li>The development of the application was conducted on Android Studio alongside an external Software
            Development Kit from Indooratlas.</li>
          <li>The application was tested using requirement verification as well as performance testing through GPU and
            CPU monitoring.</li>
          <li>The application was evaluated against major application on battery usage, accuracy, and loading times.</li>
        </ul>
        <hr>
        <p><b>Download link For Dissertation is <a href="https://assets.ctfassets.net/43i5e5k8e66i/1j26Xbtj2O2EyQ6wEIUggu/924a3bf68c803c3deaf515ea7f1072ea/fyp_uni.pdf">here</a></b></p>
      </div>
    </div>
  </div>
  <div class="page__component--right">
    <slideshow 
      [imageUrls]="imageUrls" 
      [showArrows]="false" 
      [lazyLoad]="imageUrls?.length > 1" 
      [autoPlay]="true"
      [autoPlayInterval]="10000">
    </slideshow>
  </div>
</div>