@import "variables";

  h1,
  h2 {
    font-size: 79px;
    margin-bottom: 0;

    @media (max-width: $screen-md-max) { font-size: 68px; }
    @media (max-width: $screen-sm-max) { font-size: 60px; }
    @media (max-width: $screen-xs-min) { font-size: 50px; }
    @media (max-height: $screen-height-xs) { font-size: 40px; }
  }
