//Variables

//Grid
$screen-xs: 768px;
$screen-xs-max: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-sm-max: 992px;
$screen-md: 992px;
$screen-md-min: $screen-md;
$creen-md-max: 1200px;
$screen-lg-min: 1200px;

$screen-height: 800px;

//Colors

//grey scale
$white: #fff;
$grey1: #b4b4b4;
$grey2: #424242;
$grey3: #252525;
$black: #000;

//colors
$light-blue: #80e3ff;

//social Container
$inner-circle: rgba(128, 227, 255, 1);
$outer-circle: rgba(55, 210, 253, 0.8);

//filepaths
$fa-font-path : '../node_modules/font-awesome/fonts';
