//- <div class="page__body--left">
//-   <div slot="left-side">
//-     <ccdesign-copy copy="<h1>Talk Online Integration with Azure</h1>">
//-     </ccdesign-copy>
//-     <ccdesign-separator></ccdesign-separator>
//-     <ccdesign-copy copy="<p>This project involved migrating current and new projects from AWS to Azure.
//-         This, in particalar, involved designing and building new pipelines and hosting solutions
//-         for the new Web Components and Micro Frontend Architecture.</p></br>
//-         <p>Summary of the project is as followed:</p>
//-           <ul>
//-             <li>Learning how to use Azure and what was the difference between Azure and AWS.</li>
//-             <li>Creating hosting solutions for new Architecture on Azure.</li>
//-             <li>Creating new pipelines to push to least changes for the new Architecture.</li>
//-             <li>Web Components and Micro Frontend Architecture used both yarn and docker (docker only in development environment on Micro Frontend) for its pipelines with the additional of azure powershell.</li>
//-           </ul>">
//-     </ccdesign-copy>
//-   </div>
//- </div>
//- <div class="page__body--right">

//- </div>

.page__body--left
  div(slot="left-side")

.page__body--right
  div(slot="right-side")

