<div class="page__body--left">
  <div slot="left-side">
    <ccdesign-copy
      copy="<h1>CCDesign Web Component Library</h1>">
    </ccdesign-copy>
    <ccdesign-separator></ccdesign-separator>
    <ccdesign-copy
      copy="<p>This project is my second actual live project in production and my first live NPM package. Purpose of this component 
        library was to improve performance and simplify my Angular 7 website. Easy area on ccdesign.me.uk is comprised of this Web Component Library, 
        from the carsouel to the copy.</p></br>
        <p>Summary of the project is as followed:</p>
          <ul>
            <li><p>This Web Component Library is written in StencilJs and Typescript and tested with Jest.</p></li>
            <li><p>As mentioned above, this library is actively being used on my Angular 7 website and included as a NPM package.</p></li>
            <li><p>The components created include a header, footer, template, carousel, copy, icon, button, grid, image card, separator and lastly placeholder component.</p></li>
            <li><p>Azure and Azure DevOps was used for the cloud computering platform to test the components before integration. 
              The package is served in a Blob and accessed via the index page.</p></li>
            <li><p>Continous Integration is set up based on creating an release on Github.</p></li>
            <li><p>Azure DevOps, as well as the codebase, uses yarn to install dependencies and run a build for production.</p></li>
            <li><p>Created the project in github following gitflow principles.</p></li>
          </ul>">
    </ccdesign-copy>
    <ccdesign-separator></ccdesign-separator>
    <ccdesign-copy
      copy="<p><b>Link to the codebase in github is <a href='https://github.com/mbeaseley/ccdesigns-components'>here</a></br>
        Link to the NPM Package is <a href='https://www.npmjs.com/package/ccdesign-components'>here</a></b></p>">
    </ccdesign-copy>
  </div>
</div>
<div class="page__body--right">
  <div slot="right-side">
    <ccdesign-carousel
      data="[ { id: '', image: '', alt: ''}, { id: '', image: '', alt: ''}, { id: '', image: '', alt: ''}]"
      time-interval="7500">
    </ccdesign-carousel>
  </div>
</div>