@import "~global/variables";

.page {
  &__home {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100vw;
    height: 97vh;

    &--left {
      padding: 0 0 10px 0;
      margin-top: 60px;
      flex: 1 1 50vw;
      order: 1;
      min-width: 387px;
      overflow-x: scroll;

      @media screen and (max-width: $screen-xs-max) {
        margin-top: 0;
      }

      .home-component {
        text-align: center;
        margin-left: 100px;
        margin-right: 40px;

        @media (max-width: $screen-sm-max ) {
          margin-left: 20px;
        }

        &__container {
          margin-bottom: 16px;
          text-align: left;

          &--heading {
            font-weight: bolder;

            h1,
            h2 {
              font-size: 79px;
              line-height: 14.4px;
              font-weight: bolder;
              margin: 0;
            }

            h1 {
              color: $grey2;
            }

            h2 {
              color: $white;
            }

            hr {
              border-top: 1px solid $grey1;
              margin-right: 10px;
            }

            @media (max-width: $creen-md-max) {
              h1,
              h2 {
                font-size: 68px;
              }
            }
  
            @media (max-width: $screen-sm-max) {
              h1,
              h2 {
                font-size: 60px;
              }
            }

            @media (max-width: $screen-xs-min) {
              h1,
              h2 {
                font-size: 50px;
              }
            }
          }

          &--body {
            hr {
              border-top: 1px solid $grey1;
              margin-right: 10px;
            }

            @media (max-width: $screen-xs-min) {
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    &--right {
      background-color: $grey1;
      height: 97vh;
      flex: 2 2 50vw;
      order: 2;
      min-width: 387px;
    }

    @media screen and (max-width: $screen-xs-max) {
      position: relative;
      top: 52px;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 95vh;

      &--left {
        order: 2;
        padding: 0 0 60px 0;
        flex: 1 1 140vw;
      }
      &--right {
        order: 1;
        min-height: 35vh;
        max-height: 35vh;
        margin-bottom: 40px;
      }
    }

    @media screen and (max-width: $screen-xs-min) {
      &--left {
        min-width: 357px;
      }
    }
  }
}
