@import "../global/variables";

.page {
  overflow: hidden;
  //page sections below
  &__header {
    position: fixed;
    width: 100vw;
    z-index: 1;
    
    .navbar {
      position: relative;
      padding: 4.8px 16px 4.8px 16px;
      margin-left: 80px;
      box-shadow: none;
      cursor: pointer;

      .navbar-brand {
        @media screen and (max-width: $screen-xs-max) {
          position: relative;
          left: 47.5%;
          margin: 0;
        }
      }

      @media screen and (max-width: $screen-sm-max) {
        margin-left: 0;
      }

      .nav-link {
        color: $grey1;
      }

      .nav-link:hover {
        color: $white;
      }

      .active {
        color: $light-blue;
      }

      @media screen and (max-width: $screen-xs-max) {
        z-index: 1;
        background-color: $black;
        text-align: center;
      }
    }
  }

  &__body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100vw;
    height: auto;

    &--socialContainer {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 365px;

      .circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        margin-bottom: 30px;
        position: relative;

        @media screen and (max-width: $screen-xs-min) {
          width: 60px;
          height: 60px;
        }

        &--outercircle {
          background-color: $outer-circle;
        }

        &--innercircle {
          margin: 15%;
          height: 70%;
          width: 70%;
          background-color: $inner-circle;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .icon-sm {
          font-size: 24px;
        }

        .icon-md {
          font-size: 32px;
        }
      }

      @media screen and (max-width: $screen-xs-max) {
        flex-direction: row;
        top: 40%;

        .circle {
          margin-bottom: 0;
        }

        .circle:not(:last-child) {
          margin-right: 20px;
        }
      }

      @media screen and (max-height: $screen-height) {
        top: 44%;
      } 

    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $grey3;
    padding: 8px 0 8px 0;
    min-width: 387px;

    &__copyright {
      text-align: center;
      color: $grey1;
      font-size: 12px;
    }
  }
}
