@import "variables";

.page {
  overflow: hidden;

  &__header {
    position: fixed;
    width: 100vw;
    z-index: 1;

    @media screen and (max-width: $screen-xs-max) {
      background-color: $cc-black;
    }
    
    .navbar {
      position: relative;
      padding: 4.8px 4px 4.8px 4px;
      margin-left: 80px;
      box-shadow: none;

      &--hidden {
        display: none !important;
      }

      &__back {
        position: absolute;
        left: 41%;
        background: transparent;
        color: $cc-grey-color;
        border-color: $cc-grey-border;

        .icon-size {
          font-size: 20px;
        }

        @media screen and (max-width: $screen-xs-max) { 
          position: relative;
          margin-right: 10px;
          left: 0;
        }

        .icon-size {
          font-size: 24px;
        }
      }

      @media screen and (max-width: $screen-sm-max) { margin-left: 0; }

      @media screen and (max-width: $screen-xs-max) {
        z-index: 1;
        text-align: center;

        img {
          margin-left: 12px;
        }
      }

      .nav-link {
        color: $cc-grey1;
      }

      .nav-link:hover {
        color: $cc-white;
      }

      .active {
        color: $cc-light-blue;
      }
    }
  }

  &__body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100vw;
    height: auto;

    &--socialContainer {
      position: fixed;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 365px;

      .circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        margin-bottom: 30px;
        position: relative;

        @media screen and (max-width: $screen-xs-min) {
          width: 60px;
          height: 60px;
        }

        &--outercircle {
          background-color: $cc-outer-circle;
        }

        &--innercircle {
          margin: 15%;
          height: 70%;
          width: 70%;
          background-color: $cc-inner-circle;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .icon-sm {
          font-size: 24px;
        }

        .icon-md {
          font-size: 32px;
        }
      }

      @media screen and (max-width: $screen-xs-max) {
        flex-direction: row;
        top: 40vh;

        .circle {
          margin-bottom: 0;
        }

        .circle:not(:last-child) {
          margin-right: 20px;
        }
      }

      @media screen and (max-height: $screen-height-md) { top: 42vh; }

      @media screen and (max-height: $screen-height-sm) { top: 44vh; }

    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $cc-grey3;
    padding: 8px 0 8px 0;

    &__copyright {
      text-align: center;
      color: $cc-grey1;
      font-size: 12px;
    }
  }
}
