<div class="page justify-content-center">
  <!-- header -->
  <header class="page__header">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand">
        <img src="../assets/favicon.ico" height="30" alt="CCDesigns">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="navbar-nav mx-auto w-100">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="portfolio" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- /.header -->

  <!-- page body -->
  <div class="page__body">
    <!-- page body contents -->
    <router-outlet></router-outlet>
    <!-- /.page body contents -->

    <!-- social container -->
    <div class="page__body--socialContainer">
        <!-- linkedin  -->
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-li waves-light" href="https://www.linkedin.com/in/michael-beaseley-817b5a101" mdbRippleRadius>
              <i class="fa fa-linkedin fa-2x"></i>
            </a>
          </div>
        </div>
        <!-- /.linkedin -->
  
        <!-- twitter -->
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-tw waves-light" href="https://twitter.com/MTBeaseley" mdbRippleRadius>
              <i class="fa fa-twitter fa-3x" aria-hidden="true"> </i>
            </a>
          </div>
        </div>
        <!-- /.twitter -->
  
        <!-- github -->
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-git waves-light" href="https://github.com/mbeaseley" mdbRippleRadius>
              <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- /. google plus -->
  
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-gplus waves-light" href="mailto:m.t.beaseley@gmail.com" mdbRippleRadius>
              <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
  
      </div>
      <!-- /.social container -->

  </div>
  <!-- /.page body -->

  <!-- footer container -->
  <footer class="page__footer">
    <div class="page__footer__copyright">
      © 2018 Copyright: Michael Beaseley
    </div>
  </footer>
  <!-- /.footer container -->
</div>