<div class="page justify-content-center">
  <!-- header -->
  <header class="page__header">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand">
        <div>
          <img src="../assets/favicon.ico" height="30" width="30" alt="CCDesigns">
        </div>
      </a>
      <button class="navbar-toggler navbar__back" routerLink="portfolio" [style.display]= "this.global.locationBoolean === true ? 'inline' : 'none'" type="button">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div [style.display]= "this.global.locationBoolean === true ? 'none' : 'inline'">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar3">
          <ul class="navbar-nav mx-auto w-100">
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="portfolio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a>
            </li>
          </ul>
        </div>
     </div>
    </nav>
  </header>
  <!-- /.header -->

  <!-- page body -->
  <div class="page__body">
    <!-- page body contents -->
    <router-outlet></router-outlet>
    <!-- /.page body contents -->

    <!-- social container -->
    <div class="page__body--socialContainer">
        <!-- linkedin  -->
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-li waves-light" href="https://www.linkedin.com/in/michael-beaseley-817b5a101" mdbRippleRadius>
              <i class="fab fa-linkedin icon-sm" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- /.linkedin -->
  
        <!-- twitter -->
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-tw waves-light" href="https://twitter.com/MTBeaseley" mdbRippleRadius>
              <i class="fab fa-twitter icon-md" aria-hidden="true"> </i>
            </a>
          </div>
        </div>
        <!-- /.twitter -->
  
        <!-- github -->
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-git waves-light" href="https://github.com/mbeaseley" mdbRippleRadius>
              <i class="fab fa-github icon-md" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- /. google plus -->
  
        <div class="circle circle--outercircle">
          <div class="circle circle--innercircle">
            <a class="btn-floating btn-small btn-gplus waves-light" href="mailto:m.t.beaseley@gmail.com" mdbRippleRadius>
              <i class="fa fa-envelope icon-sm" aria-hidden="true"></i>
            </a>
          </div>
        </div>
  
      </div>
      <!-- /.social container -->

  </div>
  <!-- /.page body -->

  <!-- footer container -->
  <footer class="page__footer">
    <div class="page__footer__copyright">
      © 2018 Copyright: Michael Beaseley
    </div>
  </footer>
  <!-- /.footer container -->
</div>