//- <ccdesign-cv-template
//-   header="[ { id: 'home', name: 'Home', url: '/' }, { id: 'portfolio', name: 'Portfolio', url: '/portfolio'} ]"
//-   footer="{ id: 'ccdesign footer', text: '© 2020 Copyright: Michael Beaseley', backgroundColor: 'dark-grey'}">

//-   <router-outlet></router-outlet>

//-   <ccdesign-placeholder slot="container">
//-     <ccdesign-social-container slot="icon" url="https://www.linkedin.com/in/michael-beaseley-817b5a101" icon="linkedin">
//-     </ccdesign-social-container>
//-     <ccdesign-social-container slot="icon" url="https://twitter.com/MTBeaseley" icon="twitter">
//-     </ccdesign-social-container>
//-     <ccdesign-social-container slot="icon" url="https://github.com/mbeaseley" icon="github"></ccdesign-social-container>
//-     <ccdesign-social-container slot="icon" url="mailto:m.t.beaseley@gmail.com" icon="envelope">
//-     </ccdesign-social-container>
//-   </ccdesign-placeholder>

//- </ccdesign-cv-template>

ccdesign-cv-template(
  [header]="headerContent"
  [footer]="footerContent"
)
  router-outlet

  ccdesign-placeholder(slot="container")
    ccdesign-social-container(slot="icon" url="https://www.linkedin.com/in/michael-beaseley-817b5a101" icon="linkedin")
    ccdesign-social-container(slot="icon" url="https://twitter.com/MTBeaseley" icon="twitter")
    ccdesign-social-container(slot="icon" url="https://github.com/mbeaseley" icon="github")
    ccdesign-social-container(slot="icon" url="mailto:m.t.beaseley@gmail.com" icon="envelope")

