@import "variables";

li {
  p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

a {
  text-decoration: none;
  color: $cc-light-blue;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
