//grey scale
$white: #fff;
$grey1: #b4b4b4;
$grey2: #424242;
$grey3: #252525;
$black: #000;

//colors
$light-blue: #80e3ff;

//social Container
$inner-circle: rgba(128, 227, 255, 1);
$outer-circle: rgba(55, 210, 253, 0.8)
