//- <div class="page__body--left">
//-   <div slot="left-side">
//-     <ccdesign-copy copy="<h1>TalkTalk Sales with CMS</h1>">
//-     </ccdesign-copy>
//-     <ccdesign-separator></ccdesign-separator>
//-     <ccdesign-copy copy="<p>I was apart of the team that transform talktalk main site (an AngularJS application),
//-         mainly on sales places but contentful was used on Myaccount pages, from using JSON files to
//-         a headless CMS named Contentful. The aim was to decrease the time to edit content and remove
//-         the need for developers to perform those changes.</p></br>
//-         <p>Summary of the project is as followed:</p>
//-         <ul>
//-           <li>Written and developing components to better handled to modelize site, including written both unit and e2e tests when needed.</li>
//-           <li>Create content models to handles pages and each component.</li>
//-           <li>Slowly removing old page structure and replace with Contentful page.</li>
//-           <li>Additional tools was created to bulk publish and copy content to allow edited greated ease to release and create new content for the site.</li>
//-         </ul>">
//-     </ccdesign-copy>
//-   </div>
//- </div>
//- <div class=" page__body--right">
//- </div>

.page__body--left
  div(slot="left-side")

.page__body--right
  div(slot="right-side")
